.balance {
    background-color: hsl(33, 100%, 98%);
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1rem;
}


.grey-text {
    color: hsl(28, 10%, 53%);
}

.dark-brown {
    color: hsl(25, 47%, 15%);
}


/* background-color: hsl(10, 79%, 65%); */

.charts {
    border-top-color: hsl(28, 10%, 53%);
    border-top-style: solid;
    border-top-width: 1px;
    margin-top: 1rem;
}

.balance-details {
    display: flex;
    justify-content: space-between;
}

.last-month {
    text-align: right;
}